html {
    font-size: 100%;
  }





  .row
  {
    box-shadow: darkgrey 0px 2px 8px 0px;

        float: left;
        height: 100%;
        margin-left: -1px;
        min-width: 255px;
        position: fixed;
     
}
 
.column
{
float: right;
height: 100%;
position: relative;
width: 50%;
}

.img {
    text-align: center;
        height: 150px;
        margin-top: 13%;
        margin-bottom: 20%;
        margin-left: -13%;
    
  }




.name {
    text-align: center;
    margin-top: 10px;

}


.name h1 {
    color: white;
    font-size: 70px;
    font-family: 'Rock 3D', cursive;

  }

.name h3 {
    color: white;
    font-size: 25px;
    font-family:'Patrick Hand', cursive; 
}

.name p {
    color: white;
    font-size: 25px;
    font-family:'Patrick Hand', cursive; 

}

  .pages li:hover {
    background: MediumSlateBlue;
  }
  
  li {
    background: DeepPink;
    color: ivory;
    display: inline-block;
    border-radius: 25px;
    margin: 30px 30px 0 0;
    padding: 20px;
    font-family:'Patrick Hand', cursive; 

  }


  a:link { text-decoration: none; }


  a:visited { text-decoration: none; }
  
  
  a:hover { text-decoration: none; }
  
  
  a:active { text-decoration: none; }


  .pages {
    margin-top: 10px;
	text-align: center;
	}

ul { 
	display: inline-block; 
	text-align: left; 
	}



     /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }